@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}


<link href="~/Bundle/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/signin.css" rel="stylesheet" />

@using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-signin text-center", role = "form" }))
{

    <h2><strong>eduFeedback</strong></h2>
    <br />
    <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
    @Html.AntiForgeryToken()

    <div style="float:left;">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
    <br />
    <a href="/Account/ForgotPassword" class="btn btn-primary" tabindex="4"  style="margin-top:10px;margin-left:-400px;">Back</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

