
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout_Services.cshtml";
}

<h2>Failure</h2>
<div class="titleDiv">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Payment Confirmation</h1>
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contentSec loginSec thankSec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center thankSecBox">
                <div class="imgIcon"><img src="~/Content/images/cancel.png" /></div>

                <h3>Payment Failed !</h3>
                <h3>The payment has been declined by your card provider.</h3>
                <a href="~/Services/OneSubscription" class="btn btn-primary btn-lg">Click here to proceed</a>
            </div>
        </div>
    </div>
</div>

