
@{
    ViewBag.Title = "Successful";
    Layout = "~/Views/Shared/_Layout_Services.cshtml";
}

<h2>Successful</h2>

<form enctype="multipart/form-data" id="form" method="Post" actions="">
    <div class="contentSec loginSec thankSec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center thankSecBox">
                    <div class="imgIcon"><img src="~/Content/images/checked.png" /></div>
                    <h3>The payment has been successful. Thank you for purchasing the EduFeedback service.</h3>
                    <h3>If you are a new user, login details has been sent to your registered email</h3>
                    <h3>Please check your email for the details of next steps.</h3>

                    <a href="../CourseManagement/Index" class="btn btn-primary btn-lg">Proceed to Dashboard</a>

                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</form>

